body {
	background-image: url("../images/trivia.jpg");
 }

h1 {
	font-family: 'Architects Daughter', cursive;
	font-weight: bolder;
	text-align: center;
	background-color: teal;
	padding: 10px;
}

.big-box {
	height: 500px;
	width: 600px;
	margin: auto;
	margin-top: 20px;
	text-align: center; 	   
	position: relative;
	border-style: outset;
	border: 3px solid green;
	background-image: url("../images/sports.png");
}

.button-style {
	padding: 10px 50px;
	margin-top: 200px;
}

.start-over {
	padding: 10px 50px;
	margin-top: 20px;
}

.question-display {
	margin-top: 50px;
}

.image-style {
	height: 200px;
	width: 200px;
}